<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go+ by Tutorials: {{.Title}}</title>
    <link rel=stylesheet href="site.css">
  </head>
  <script>
      onkeydown = (e) => {
          {{if .Prev}}if (e.key == "ArrowLeft") {
              window.location.href = '{{.Prev.Path}}';
          }{{end}}
          {{if .Next}}if (e.key == "ArrowRight") {
              window.location.href = '{{.Next.Path}}';
          }{{end}}
      }
  </script>
  <body>
    {{ template "header" }}
    <main class="main example" id="{{.Path}}">
      <ul class="breadcrumb">
        <li class="breadcrumb-link-item"><a href="https://goplus.org">Go+</a></li>
        <li class="breadcrumb-link-item"><a href="/">Tutorial</a></li>
        <li class="breadcrumb-current-item">{{.Title}}</li>
      </ul>
      <div class="text-wrapper">
        <h2>{{.Title}}</h2>
        {{if .Files}}{{else}}
          <p>No content, you can help us <a href="https://github.com/goplus/tutorial/tree/main/{{.Name}}">build it</a>.</p>
        {{end}}
        {{range .Files}}
          {{range .Segs}}
            {{if .HasDocsAndCode}}
              <table class="code-with-docs{{if .IsFirstCode}} first{{end}}{{if .IsLastCode}} last{{end}}">
                <tr>
                  <td class="docs">{{.DocsRendered}}</td>
                  <td class="code">
                    {{if .URLHash}}
                    <a class="run" title="Run code" target="_blank" href="http://play.goplus.org/p/{{.URLHash}}"></a>
                    <button class="copy" title="Copy code" data-clipboard-text="{{.CodeForClip}}"></button>
                    {{end}}
                    {{.CodeRendered}}
                  </td>
                </tr>
              </table>
            {{else}}
              {{if .DocsRendered}}
                <div class="docs">{{.DocsRendered}}</div>
              {{end}}
              {{if .CodeRendered}}
                <div class="code">
                  {{if .URLHash}}
                  <a class="run" title="Run code" target="_blank" href="http://play.goplus.org/p/{{.URLHash}}"></a>
                  <button class="copy" title="Copy code" data-clipboard-text="{{.CodeForClip}}"></button>
                  {{end}}
                  {{.CodeRendered}}
                </div>
              {{end}}
            {{end}}
          {{end}}
        {{end}}
        {{if .Next}}
        <p class="next">
          Next example: <a href="{{.Next.Path}}">{{.Next.Title}}</a>
        </p>
        {{end}}
      </div>
    </main>
    {{ template "footer" }}
    <script src="./clipboard.min.js"></script>
    <script>
    new ClipboardJS('.copy')
    </script>
  </body>
</html>
