<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go+ by Tutorial</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Go+ by Tutorial</a></h2>
      <p>
        <a href="https://goplus.org/">Go+</a> is an
        open source programming language designed for
        for engineering, STEM education, and data science.
      </p>

      <p>
        <em>Go+ by Tutorial</em> is a hands-on introduction
        to Go+ using annotated example programs. Check out
        the <a href="hello-world">first example</a> or
        browse the full list below.
      </p>

      <ul>
      {{range .}}
        <li><a href="{{.Path}}">{{.Title}}</a></li>
      {{end}}
      </ul>
{{ template "footer" }}
    </div>
  </body>
</html>
