<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go+ by Tutorials</title>
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=no"></meta>
    <link rel=stylesheet href="/site.css">
  </head>
  <body>
    {{ template "header" }}
    <main class="main">
      <ul class="breadcrumb">
        <li class="breadcrumb-link-item"><a href="https://goplus.org">Go+</a></li>
        <li class="breadcrumb-current-item">Tutorials</li>
      </ul>
      <div class="text-wrapper">
        <h2>Tutorials</h2>
        <p>
          <a href="https://goplus.org/">Go+</a> is an
          open source programming language designed for
          for engineering, STEM education, and data science.
        </p>
        <p>
          <em>Go+ by Tutorials</em> is a hands-on introduction
          to Go+ using annotated example programs. Check out
          the <a href="hello-world">first example</a> or
          browse the full list below.
        </p>
        {{range .}}
          {{if .Title}}<h3>{{.Title}}</h3>{{end}}
          <ul class="example-link-list">
            {{range .Articles}}
              <li><a class="example-link" href="{{.Path}}">{{.Title}}</a></li>
            {{end}}
          </ul>
        {{end}}
      </div>
    </main>
    {{ template "footer" }}
  </body>
</html>
