# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go+

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go/Go+
      uses: goplus/setup-goplus@v1
      with:
        go-version: "1.18"
        gop-version: "1.1.7"

    - name: Build
      run: |
        go build -v ./...
        gop go -t -s ./...
